.heroImage {
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
.heroImage-full {
  height: 100%;
}
.heroText-Right, .heroText-Left, .heroText-Center {
  position: absolute;
}
.heroText-Right {
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
}
.heroText-Left {
  top: 50%;
  left: 5%;
  transform: translate(0%, -50%);
}
.heroText-Center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
