* {
  box-sizing: border-box;
}
$onetohundred: 1, 2, 3, 4, 5, 6, 7, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100;
$onetofifty: 1, 2, 3, 4, 5, 6, 7, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 47, 48, 49;
@each $size in $onetofifty {
  .container-#{$size} {
    padding: #{$size}px;
  }
}
.card, .card2, .card3 {
  float: left;
  margin-left: 4.5%;
  padding: 0px;
  margin-top: 15px;
  background-size: cover;
  border-radius: 7px;
}

.column, .column2, .column3 {
  float: left;
  background-size: cover;
  margin: 0;
}

.row {
  .columns-1 {
    .card, .card2, .card3 {
      width: 91%;
    }
    .column, .column2, .column3 {
      width: 100%;
    }
  }
  .columns-2 {
    .card, .card2, .card3 {
      width: 43.25%;
    }
    .column, .column2, .column3 {
      width: 50%;
    }
  }
  .columns-3 {
    .card {
      width: 27.33%;
    }
    .column {
      width: 33.33%;
    }
    .card2, .card3 {
      width: 59.16%;
    }
    .column2, .column3 {
      width: 66.66%;
    }
  }
  .columns-4 {
    .card {
      width: 19.375%;
    }
    .column {
      width: 25%;
    }
    .card2 {
      width: 43.25%;
    }
    .column2 {
      width: 50%;
    }
    .card3 {
      width: 67.125%;
    }
    .column3 {
      width: 75%;
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@include device("phone") {
  .row {
    .columns-2 {
      .card, .card2, .card3 {
        width: 91%;
      }
      .column, .column2, .column3 {
        width: 100%;
      }
    }
    .columns-3 {
      .card, .card2, .card3 {
        width: 91%;
      }
      .column, .column2, .column3 {
        width: 100%;
      }
    }
    .columns-4 {
      .card, .card2, .card3 {
        width: 91%;
      }
      .column, .column2, .column3 {
        width: 100%;
      }
    }
  }
}

@include device("tablet") {
  .row {
    .columns-2, .columns-3 {
      .card, .card2, .card3 {
        width: 91%;
      }
      .column, .column2, .column3 {
        width: 100%;
      }
    }
    .columns-4 {
      .card, .card2, .card3 {
        width: 43.25%;
      }
      .column, .column2, .column3 {
        width: 50%;
      }
    }
  }
}
