.card, .card2, .card3 {
  float: left;
  margin-left: 4.5%;
  padding: 0px;
  margin-top: 15px;
  background-size: cover;
  border-radius: 7px;
}

.column, .column2, .column3 {
  float: left;
  background-size: cover;
  margin: 0;
}

.row {
  .columns-1 {
    .card, .card2, .card3 {
      width: 91%;
    }
    .column, .column2, .column3 {
      width: 100%;
    }
  }
  .columns-2 {
    .card, .card2, .card3 {
      width: 43.25%;
    }
    .column, .column2, .column3 {
      width: 50%;
    }
  }
  .columns-3 {
    .card {
      width: 27.33%;
    }
    .column {
      width: 33.33%;
    }
    .card2, .card3 {
      width: 59.16%;
    }
    .column2, .column3 {
      width: 66.66%;
    }
  }
  .columns-4 {
    .card {
      width: 19.375%;
    }
    .column {
      width: 25%;
    }
    .card2 {
      width: 43.25%;
    }
    .column2 {
      width: 50%;
    }
    .card3 {
      width: 67.125%;
    }
    .column3 {
      width: 75%;
    }
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@include device("phone") {
  .row {
    .columns-2 {
      .card, .card2, .card3 {
        width: 91%;
      }
      .column, .column2, .column3 {
        width: 100%;
      }
    }
    .columns-3 {
      .card, .card2, .card3 {
        width: 91%;
      }
      .column, .column2, .column3 {
        width: 100%;
      }
    }
    .columns-4 {
      .card, .card2, .card3 {
        width: 91%;
      }
      .column, .column2, .column3 {
        width: 100%;
      }
    }
  }
}

@include device("tablet") {
  .row {
    .columns-2 {
      .card, .card2, .card3 {
        width: 91%;
      }
      .column, .column2, .column3 {
        width: 100%;
      }
    }
    .columns-3, .columns-4 {
      .card, .card2, .card3 {
        width: 43.25%;
      }
      .column, .column2, .column3 {
        width: 50%;
      }
    }
  }
}
